{% extends '::base.html.twig' %}
<h1>KuBuS - Backend</h1>
{% block body %}

	{% block head %}
	{% endblock %}

	{% block content %}
	{% endblock %}


	{% block footer %}
	{% endblock %}

{% endblock %}