{% extends '::base.html.twig' %}

{% block body %}

	{% block head %}	
		<h1>KuBuS - Backend</h1> 
		{{ include('KubusBackendBundle::_navigation.html.twig') }}
	{% endblock %}

	{% block content %}	{% endblock %}


	{% block footer %}	{% endblock %}

{% endblock %}