{% extends 'KubusBackendBundle::layout.html.twig' %}

{% block content -%}
    <h1>ScienceDomain creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('sciencedomain') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
