{% extends "KubusBackendBundle::layout.html.twig" %}

{% block title %}KubusBackendBundle:Authentication:login{% endblock %}

{% block body %}
<h1>Welcome to the Authentication:login page</h1>
{% endblock %}
