{% extends "KubusBackendBundle::layout.html.twig" %}

{% block title %}KubusBackendBundle:Authentication:logout{% endblock %}

{% block body %}
<h1>Welcome to the Authentication:logout page</h1>
{% endblock %}
