{% extends 'KubusBackendBundle::Person/new.html.twig' %}

{% block content -%}
    <h1>FinanceData creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
    <li>
        <a href="{{ path('financedata') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
