{% extends 'KubusBackendBundle::layout.html.twig' %}

{% block content -%}
    <h1>Person edit</h1>

    {{ form(edit_form) }}
{#
    {% block roles %} <h1>Rollen</h1> {% endblock %}
    {% block phd_data %} <h1> PhD-Daten</h1> {% endblock %}
    {% block finance_data %} <h1>Finanzdaten</h1> {% endblock %}
     #}
     {% block manager_data %} <h1>Managerdaten</h1> {% endblock %}
    <ul class="record_actions">
    <li>
        <a href="{{ path('person') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
