{% extends 'KubusBackendBundle::layout.html.twig' %}

{% block content -%}
    <h1>PhdData edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('phddata') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
